In [3]:
import torch
import torch.nn as nn
import matplotlib.pyplot as plt
# import seaborn as sns
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./HeartDisease.csv")
df.head( )

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = df.drop("target",axis=1).values
y = df["target"].values
len(X),len(y)

(303, 303)

In [6]:
CategoricalFeatures = ["cp","slope","ca","restecg","thal"]
X = pd.get_dummies(df,columns=CategoricalFeatures)
X.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_0,...,ca_2,ca_3,ca_4,restecg_0,restecg_1,restecg_2,thal_0,thal_1,thal_2,thal_3
0,63,1,145,233,1,150,0,2.3,1,False,...,False,False,False,True,False,False,False,True,False,False
1,37,1,130,250,0,187,0,3.5,1,False,...,False,False,False,False,True,False,False,False,True,False
2,41,0,130,204,0,172,0,1.4,1,False,...,False,False,False,True,False,False,False,False,True,False
3,56,1,120,236,0,178,0,0.8,1,False,...,False,False,False,False,True,False,False,False,True,False
4,57,0,120,354,0,163,1,0.6,1,True,...,False,False,False,False,True,False,False,False,True,False

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
ContinuousFeatures = ["age","trestbps","chol","thalach","oldpeak"]
X[ContinuousFeatures] = scaler.fit_transform(X[ContinuousFeatures])
X.head()